@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body{
	margin:0;
	padding:0;
	overflow-x: hidden;
	font-family: 'Montserrat', sans-serif;
	background-color: #f5f5f5;
}
/* Set your background color */
.bg-custom {
	background-color: #333
}
/* Transition effect */
.navbar {
	-webkit-transition: all .3s ease 0s;
	transition: all .3s ease 0s;
}


.btn-djuara{
	background: #BF1E2E;
	/* Large Shadow */
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	align-items: center;
	border:5px solid #BF1E2E;
	box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	color: #ffffff !important;
}

.btn-djuara:hover{
	background: #FFFFFF;
	border : 5px solid #F7941D;
	color: #000000 !important;
}

.btn-djuara:active{
	color: #ffffff !important;
	border:5px solid #BF1E2E;
	background: #BF1E2E;

}

.nama-desa{
	font-size: 14px;
	line-height: 16px;
	font-weight: bold;
	color: orange;
	margin-bottom: 0px;
}

.ket-desa{
	line-height: 16px;
	font-size: 12px;
}

body {
}

/* Set your background color */
.bg-custom {
	background-color: #333
}
/* Transition effect */
.navbar {
	-webkit-transition: all .3s ease 0s;
	transition: all .3s ease 0s;
}

.navbar:after{
	background: linear-gradient(to right, #2980b9 25%,#ffcd02 25%, #ffcd02 50%, #e84f47 50%, #e84f47 75%, #65c1ac 75%);
	position: absolute;
	content: '';
	height: 4px;
	right: 0;
	left: 0;
	bottom: 0;
}

.btn-social{
	width: 30px;
	height: 30px;
	border:none;
	border-radius: 20px;
	margin-right: 5px;
}

.btn-fb{
	background-color: #3b5998;
}

.btn-instagram{

  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0,0,0,.25);
}

.btn-google-plus{
	background-color: #d34836;
}

.btn-youtube{
	background-color: #ff0000;
}

.btn-whatsapp{
	background-color: #25d366;
}

.searchbar{
	margin-bottom: auto;
	margin-top: auto;
	height: 40px;
	background-color: #353b48;
	border-radius: 30px;
	padding: 10px;
}

.search_input{
	color: white;
	border: 0;
	outline: 0;
	background: none;
	width: 0;
	caret-color:transparent;
	line-height: 20px;
	transition: width 0.4s linear;
}

.searchbar:hover > .search_input{
	padding: 0 10px;
	width: 200px;
	caret-color:red;
	transition: width 0.4s linear;
}

.searchbar:hover > .search_icon{
	background: white;
	color: #e74c3c;
}

.search_icon{
	height: 20px;
	width: 20px;
	float: right;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	color:white;
}

a.nav-link{
	color: #000000;
	font-weight: bold;
	font-size: 14px;
}

a.nav-link:hover{
	color: orange;
}
ul .active a{
	color: orange;
	font-weight: bold;
}
.carousel-caption {
	position: absolute;
	left: 0px;
	right: unset;
	width: 500px;
	background-color: rgba(0,0,0,0.5);
}

.running-text{
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #55efc4;
	color: #ffffff;
}
.label-runningtext{
	background-color: red;
	padding: 10px;
	border-radius: 0px 50px 50px 0px;
	color: white;
	font-weight: bold;
}
.panel{
	margin-top: 20px;
	min-height: 200px;
	background-color: #ffffff;
	padding: 10px;
	box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);

}

.box{
	margin-top: 20px !important;
}

.title{
	font-weight: 600;
}

a{
	color: black;
}

.footer-bottom a{
	color: orange;
}

.footer-bottom a:hover{
	color: yellow;
}

a:hover{
	text-decoration: none;
	color: orange;
}

.header:after{
	background: linear-gradient(to right, #2980b9 25%,#ffcd02 25%, #ffcd02 50%, #e84f47 50%, #e84f47 75%, #65c1ac 75%);
	position: absolute;
	content: '';
	height: 4px;
	right: 20;
	width: 50%;
}

.box-header{
	background-color: #ffffff;
	border:none;
}
.box-header h3{
	font-size: 18px;
}
.box-title{
	float: left;
}
.box-title:after{
	float: left;
	background: linear-gradient(to right, #2980b9 25%,#ffcd02 25%, #ffcd02 50%, #e84f47 50%, #e84f47 75%, #65c1ac 75%);
	/*position: absolute;*/
	margin-top: 10px;
	content: '';
	height: 4px;
	/*right: 20;*/
	width: 50%;
}
.box-header br{
	clear: both;
}

.box-body{
	min-height: 100px;
}

.header-footer:after{
	background: linear-gradient(to right, #2980b9 25%,#ffcd02 25%, #ffcd02 50%, #e84f47 50%, #e84f47 75%, #65c1ac 75%);
	position: absolute;
	content: '';
	height: 4px;
	right: 20;
	width: 10%;
}

.card{
	border:none;
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 10px;
	margin-top: 20px;
	font-size: 14px;
}

.desc-footer ol li{
	margin-left: -10px;
}
.desc-footer ol li{
	font-size: 12px;
}
.footer-bottom{
	font-size: 12px;
}

.glass{
	font-weight: bold;
	color: #ffffff; 
}
	.image-banner{
		min-height: 250px;
	}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.icon-bar {
		width: 22px; 
		height: 2px;
		background-color: #B6B6B6;
		display: block;
		transition: all 0.2s;
		margin-top: 4px;
	}
	.navbar-brand img{
		height: 50px;
		width: 50px;
	}
	.navbar-toggler {
		border: none;
		background: transparent !important;
	}

	.navbar-toggler .top-bar {
		transform: rotate(45deg);
		transform-origin: 10% 10%;
	}

	.navbar-toggler .middle-bar {
		opacity: 0;
	}

	.navbar-toggler .bottom-bar {
		transform: rotate(-45deg);
		transform-origin: 10% 90%;
	}

	.navbar-toggler.collapsed .top-bar {
		transform: rotate(0);
	}

	.navbar-toggler.collapsed .middle-bar {
		opacity: 1;
	}

	.navbar-toggler.collapsed .bottom-bar {
		transform: rotate(0);
	}
	
	
	.btn-djuara{
		background: #BF1E2E;
		/* Large Shadow */
		font-weight: bold;
		font-size: 12px;
		line-height: 16px;
		align-items: center;
		border:5px solid #BF1E2E;
		box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.25);
		border-radius: 10px;
		color: #ffffff !important;
	}

	.btn-djuara:hover{
		background: #FFFFFF;
		border : 5px solid #F7941D;
		color: #000000 !important;
	}

	.btn-djuara:active{
		color: #ffffff !important;
		border:5px solid #BF1E2E;
		background: #BF1E2E;

	}

	.nama-desa{
		font-size: 10px;
		line-height: 12px;
		font-weight: bold;
		color: orange;
		margin-bottom: 0px;
	}

	.ket-desa{
		line-height: 10px;
		font-size: 8px;
	}

	.running-text{
		padding-top: 2px;
		padding-bottom: 2px;
		background-color: #55efc4;
		color: #ffffff;
		font-size: 10px;
	}
	.label-runningtext{
		background-color: red;
		padding: 5px;
		border-radius: 0px 50px 50px 0px;
		color: white;
		font-weight: bold;
	}

	.image-banner{
		min-height: 250px;
	}

	.btn-social{
		width: 25px;
		height: 25px;
		border:none;
		border-radius: 15px;
		margin-right: 5px;
		font-size: 10px;
	}

	img#img-slider{
		height: 200px;
	}
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.icon-bar {
		width: 22px; 
		height: 2px;
		background-color: #B6B6B6;
		display: block;
		transition: all 0.2s;
		margin-top: 4px;
	}
	.navbar-brand img{
		height: 50px;
		width: 50px;
	}
	.navbar-toggler {
		border: none;
		background: transparent !important;
	}

	.navbar-toggler .top-bar {
		transform: rotate(45deg);
		transform-origin: 10% 10%;
	}

	.navbar-toggler .middle-bar {
		opacity: 0;
	}

	.navbar-toggler .bottom-bar {
		transform: rotate(-45deg);
		transform-origin: 10% 90%;
	}

	.navbar-toggler.collapsed .top-bar {
		transform: rotate(0);
	}

	.navbar-toggler.collapsed .middle-bar {
		opacity: 1;
	}

	.navbar-toggler.collapsed .bottom-bar {
		transform: rotate(0);
	}

} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

	img#img-slider{
		height: 500px;
	}
}